{% extends "base.html" %}
{% block title %}New Post{% endblock %}
{% block content %}
  <h2>new post</h2>

    <form method="post" class="create_post">
      <label>
        <div class="create_post_subject">Subject</div>
        <input type="text" name="subject" value="{{subject}}">
      </label>
      <br>
      <label>
        <div class="create_post_content">Content</div>
        <textarea rows="9" cols="22"name="content">{{content}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <input type="submit">
    </form>
{% endblock %}
