{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
<header>

  {% if user %}
  <h2>Hello, {{user.name}} !</h2>
  <a href="create"><button type="button">New Post</button></a>
  <a href="logout"><button type="button">Logout</button></a>
  {% else %}
  <h2>Hello, please login or register to make a post</h2>
  <a href="login"><button type="button">Login</button></a>
  <a href="register"><button type="button">Register</button></a>
  {% endif %}
</header>
<main>
  {% for post in posts %}
    <article>
      <!--rendered on post.html-->
      <!-- This refers to the render method in models.py -->
      {{ post.render(user, likes) | safe }}
    </article>
  {% endfor %}
</main>
{% endblock %}
