<div class="post">
  <div class="post-heading">
    <div class="post-title">
      <a href="posts/{{ p.key().id() }}"><h2>{{p.subject}}</h2></a>
      Published by {{ p.author }}
      Likes: {{ p.likes }}
      Comments: {{ p.comments }}
    </div>

    <div class="post-date">
      {{p.created.strftime("%b %d, %Y")}}
    </div>
  </div>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>

  <div class="post-like">
    Likes: {{ p.likes }} <br>

    <!-- If the user is not the author of the post and the user is not not signed in -->
    {% if p.author != user.name and user != '' %}
    <form method="post">
    <input type="hidden" name="post_id" value="{{ p.key().id() }}">
    <input type="hidden" name="author" value="{{ user.name }}">
    <input type="submit" value="Add like">
  </form>
    <!-- TODO add ability to like-->
    {% endif %}
  </div>
  <div class="post-comments">
    Comments: {{ p.comments }} <br>
    {% if p.author != user.name and user != '' %}
    Add Comment
    <!-- TODO add ability to add comments-->
    {% endif %}
  </div>
  <div class="post-edit">
    Likes: {{ p.likes }} <br>
    <!-- If the currently signed in user is the post author -->
    {% if p.author == user.name %}
    Edit
    Delete
    <!-- TODO add ability to edit-->
    {% endif %}
  </div>
</div>
